/* ProductDetails.css */
.product-details-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Increase the font size and height of the input */
input[type="number"] {
  width: 100%;
  font-size: 16px;
  height: 40px; /* Adjust as needed */
  margin-bottom: 10px;
}

/* Adjust the layout of buttons */
.btn {
  display: inline-block;
  /* padding: 10px 20px; */
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
   /* Add margin between buttons */
}

.btn-2 {
  display: inline-block;
  /* padding: 10px 20px; */
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #dc3545; /* Change button color */
  color: #fff;
  border-radius: 5px;
  margin-right: 50px;
}
