.product-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.product-details-container p {
  margin-bottom: 10px;
}

/* label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 60px;
  margin-right: 10px;
  padding: 5px;
} */

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* Add margin-right to create space between buttons */
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.sold-out {
  color: #ff0000;
  font-weight: bold;
}
